.main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90vw;

    margin: 0 auto;

    margin-top: 1rem;
}


.sectionTopHero{
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrapperTitle{
    display: flex;
    flex-direction: column;
    width: 100%;

    font-size: 1.5rem;
}

.wrapperTitle h1{
    font-weight: 400;
}


.wrapperTitle > h1 > span{
    font-weight: 800;
}