.wrapperHeader{
   display: flex;
   align-items: center;
   justify-content: space-between;
   
   width: 95vw;
   height: 100px;

   margin: 0 auto;
}
.WrapperLogoImg{
   padding: 0.5rem;
}

.logoImg{
   width: 100px;
}

.navegation {
   width: 100%;
}

.loginWrapper{
   display: flex;
   align-items: center;
   flex-wrap: nowrap;
}

.wrapperListLink{
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   gap: 1rem;
}
