.listWrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 2rem;
   width: 50vw;
}

.listWrapper > li {
   cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
   .listWrapper {
      width: 100%;
      
   }
}
