.sectionFormWrapper {
   display: flex;
   flex-direction: column;
   gap: 60px;
   align-items: center;
   width: 50rem;
   padding: 3rem 8rem;
   border-radius: 1rem;
   background-color: #EAF5FE;
   box-shadow: -16px 19px 7.300000190734863px 0px #00000040;
   height: 80%;
}

.sectionFormWrapper > img {
   margin: 0 auto;
   width: 200px;
}

.sectionFormWrapper > form {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.sectionFormWrapper > form > input {
   border: 2px solid var(--blue);
   padding: .5rem;
   border-radius: 5px;
   text-transform: uppercase;
}

.sectionFormWrapper > form > input::placeholder {
   color: var(--blue);
   text-transform: uppercase;
}

.sectionFormWrapper > form > label {
   font-size: 1rem;
   font-weight: 600;
   color: var(--dark-blue);
}

.wrapperFromLinks {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 1rem;
}

.wrapperFromLinks > span > input {
   margin-right: 0.3rem;
}
.formLinksWrapper {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   gap: 1rem;
}

.buttonSelected {
   text-transform: uppercase;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   font-size: 1rem;
   cursor: pointer;
   padding: .5rem 1rem;
   width: 100%;
   margin: 1rem 0;
   color: white;
   background-color: var(--blue);
   border: none;
   border-radius: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
   .sectionFormWrapper {
      width: 100%;
      padding: 2rem;
   }
   
   .wrapperFromLinks > a{
      font-size: 0.6rem;
   }

   .wrapperFromLinks > span {
      font-size: 0.6rem;
   }

   .sectionFormWrapper > img {
      width: 150px;
   }
   
   .sectionFormWrapper > form {
      gap: 0.5rem;
   }
   
   .buttonSelected {
      font-size: 0.9rem;
   }
}
