.sectionWrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;

   width: 50rem;

   gap: 1rem;

}
.sectionTitleWrapper >h1{
   color: var(--blue);
   font-size: 2.5rem;
}
.sectionTitleWrapper >h2{
   color: var(--light-blue);
   font-size: 3.5rem;
}

.sectionWrapper > p{
   color: #FFFFFF;
}

.buttonSelected{
   text-transform: uppercase;
   font-family: 'Roboto', sans-serif;
   
   padding: .5rem 1rem;
   max-width: 500px;
   width: 100%;
   margin: 1rem 0;
   
   border-radius: 5px;
   
   background-color: var(--blue);
   border: none;
   
}

.buttonSelected >a {
   font-weight: 700;
   font-size: 1rem;
   color: white;

}
