.mainWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   padding: 2rem;
   gap: 2rem;
   background-color: var(--dark-blue);
}

@media (max-width: 768px) {
   .mainWrapper {
   height: 100%;

      flex-direction: column;
   }
}
